<ul nz-menu [nzMode]="'inline'"  [nzInlineCollapsed]="isCollapsed">
  <li nz-menu-item nz-tooltip [nzTitle]="isCollapsed ? 'Navigation One' : ''">
    <a routerLink="/page1"> 
      <span title>
        <i nz-icon type="mail"></i>
        <span>我是page1</span>     
      </span>
    </a>
  </li>
  <li nz-menu-item nz-tooltip [nzTitle]="isCollapsed ? 'Navigation One' : ''">
    <a routerLink="/page2"> 
      <span title>
        <i nz-icon type="mail"></i>
        <span>我是page2</span>     
      </span>
    </a>
  </li>
  <li nz-menu-item nz-tooltip [nzTitle]="isCollapsed ? 'Navigation One' : ''">
      <a routerLink="/page3"> 
        <span title>
          <i nz-icon type="mail"></i>
          <span>我是page3</span>     
        </span>
      </a>
    </li>
</ul>
